@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

a.navbar-brand {
  margin-left: -15px !important;
}

.navbar-light .navbar-toggler-icon {
  /* background-image: url(https://img.shields.io/badge/code_style-prettier-ff69b4.svg?style=flat-square); */
  background-image: url(/imgs/menu-hamb.svg);
  width: 18px;
  height: 13px;   
}

.navbar-light .navbar-toggler {
  border: none;
  margin-right: -25px;
  margin-top: -18px;
}

button:focus {   
  outline: none;
}

.col,   .row, 
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  /* outline: 1px solid goldenrod; */
}

.row {
  margin-left: 25px;
}

.text-right {
  margin-right: 15px !important;
}

.text-left {
  margin-left: 15px !important;
}

/* 
.text-center.col-md-4.col-6, .text-right, .col-3, .col  {
  padding-right: 0px !important;
  padding-left: 0px !important;
} */

.col  {
  padding-right: 0px !important;
  padding-left: 0px !important;
}