@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.navbar-light .navbar-toggler-icon {
  /* background-image: url(https://img.shields.io/badge/code_style-prettier-ff69b4.svg?style=flat-square); */
  background-image: url(/imgs/menu-hamb.svg);
  width: 18px;
  height: 13px;   
}

.navbar-light .navbar-toggler {
  border: none;
  margin-right: -18px;
  margin-top: -18px;
}

button:focus {   
  outline: none;
}

.col, .navbar {
  /* outline: 1px solid #ccc; */
}

.row {
  margin-left: 33px;
}