@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  overflow-x: hidden !important;
}

a.navbar-brand {
  margin-left: -15px !important;
}

.navbar-light .navbar-toggler-icon {
  /* background-image: url(https://img.shields.io/badge/code_style-prettier-ff69b4.svg?style=flat-square); */
  background-image: url(/imgs/menu-hamb.svg);
  width: 18px;
  height: 13px;
  /* margin-left: 300px;  */
}

.navbar-light .navbar-toggler {
  border: none;
  margin-right: -25px;
  margin-top: -18px;
}

button:focus {
  outline: none;
}

.col,
.row,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto,
div,
span,
figure {
  /* outline: 1px solid goldenrod; */
}

.row {
  padding-left: 25px;
  /* margin-left: 15px; */
  right: 0;
}

.text-right {
  margin-right: 15px !important;
}

.text-left {
  margin-left: 15px !important;
}

/* 
.text-center.col-md-4.col-6, .text-right, .col-3, .col  {
  padding-right: 0px !important;
  padding-left: 0px !important;
} */

.col {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/* BURGER MENU */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button********* */

.bm-cross-button {
  /* height: 24px; */
  /* width: 24px; */
  display: none !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  /* background: #373a47; */
  background: #ff473a;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu a {
  color: #fff !important;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.bm-menu a:active {
 color: #ccc !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item.mr-auto.navbar-nav {
  outline: 1px solid #ff473a;
  margin-left: -60px;
}
/* END BURGER MENU */
